---
import FaqAccordion from "../components/FaqAccordion.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="A simple FAQ accordion, made with Solid.js and accessibility in mind."
    />
    <meta name="robots" content="all" />
    <title>FAQ Acoordion</title>

    <meta property="og:title" content="FAQ Acoordion" />
    <meta
      property="og:description"
      content="A simple FAQ accordion, made with Solid.js and accessibility in mind."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <FaqAccordion />
  </body>
</html>

<style scoped>
  body {
    @apply text-dark-purple flex h-fit min-h-screen w-full items-center justify-center bg-light-pink bg-contain bg-top bg-no-repeat p-6 font-work-sans;
    background-image: url("../assets/background-pattern-mobile.svg");
  }

  @media (min-width: 768px) {
    body {
      background-image: url("../assets/background-pattern-desktop.svg");
    }
  }
</style>
